div.header
    div.logo
        a(href="index.html")
            img(src="assets/imgs/logo.avif" alt="logo")
    nav 
        div.burger-menu
            img.burger-icon(src="assets/imgs/burger.svg")
        ul
            li
                a(href="index.html") Accueil
            li
                a(href="reviews.html") Avis
            a(href="contact.html")
                li.button contactez moi